[submodule "zeeve/lib/forge-std"]
	path = zeeve/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zeeve/lib/chimera"]
	path = zeeve/lib/chimera
	url = https://github.com/Recon-Fuzz/chimera
[submodule "zeeve/lib/properties"]
	path = zeeve/lib/properties
	url = https://github.com/crytic/properties
[submodule "lib/chimera"]
	path = lib/chimera
	url = https://github.com/Recon-Fuzz/chimera
[submodule "ignite/lib/forge-std"]
	path = ignite/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
